/* 
    Document   : catalogoBotones
    Created on : 25-abr-2013, 12:39:16
    Author     : giselly_2003
    Description:
        Purpose of the stylesheet follows.
*/

#agrupado {
	width: 100%;
}

#categorias{
	width: 960px;
	float: left;
}
.productos{
	width: 850px;
	float: right;
}
.producto{
	width: 350px;
        height: 180px;
	float: left;
	border:3px solid #D9D9D9 ;
	border-radius: 10px;
/*	padding: 20px 10px 20px 30px;*/
	margin-right: 35px;
        margin-top: 35px;
}
.botton{
	margin-top: 2px;
	background-color: #D9D9D0;
	border-radius: 10px;
	padding-top: 10px;
	border:1px solid #D9D9D9;
	float:left;
	width: 150px;
}
.botton:hover{
	background-color: white;
}
#activado{
	background-color: white;
}
#listaCont{
    float: left;
    position: fixed;
    padding-top: 100px;
    overflow: hidden;
    text-align: center;
    width: 200px;
} 

h1{
    text-align:  center;
    margin-top: -20px;
}

#info{
    text-align: right;
    margin-top: 100px;
    border:1px solid #ffffff ;
    
}

#imagen{
    
        width: 350px;
        height: 180px;
	float: left;
	border-radius: 10px;
      
	
	
}



#footer, th{
    opacity: .85;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-left: 100px;
    margin-right: 100px ;
    width: 900px;
    margin-top: 100px;
    font-size: 11px;
}

#copyright{
    
     color: #000;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #666666;
    
}


#footer2{
    
    text-align: center;
    
    
}

