#categorias{
	width: 960px;
	float: left;
}
.productos{
	width: 750px;
	float: right;
}
.producto{
	width: 200px;
	float: left;
	border:1px solid #D9D9D9 ;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
       
}
.botton{
	margin-top: 2px;
	background-color: #D9D9D0;
	border-radius: 10px;
	padding-top: 10px;
	border:1px solid #D9D9D9;
	float:left;
	width: 150px;
}
.botton:hover{
	background-color: white;
}
#activado{
	background-color: white;
}
#listaCont{
    float: left;
    position: fixed;
    padding-top: 100px;
    overflow: hidden;
    text-align: center;
    width: 200px;
}

#banner_registro{
    
    float: right;
    margin-top: -50px;
    margin-right: 200px;
    border-radius: 10px;
    
    
}

#copyright{
    
     color: #000;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #666666;
    
}


#footer, th{
    opacity: .85;
    background-color:  #D9D9D9;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 100px;
    width: 700px;
    
    
    
}