#contenido{
	width: 960px;
	border-radius: 10px;
	margin-bottom: 5px;
	margin-top: 4px;
}
#sesion{
	font-size: 14px;
	margin: 5px 0px 0px 5px;
	text-align: left;
	width: 200px;
	height: 200px;
	border-radius: 5px;
	float: left;
}
#inicio{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 0px;
	padding-bottom: 10px;
}
#sesion > label{
	margin-left: 10px;
}
form >input{
	height: 20px;
	margin-left: 5px;
	border-radius: 5px;
	border-width: 1px;
}
form > input.button{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
/*Slider*/

#promociones >ul,  li { display: block; }

#body {
    float: right;
    padding: 0;
    width: 700px;
    height: 350px;
    display: block;
    margin: 0 auto;
    position: relative;
}

#body * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#body input { display: none; }

#img-inner {
    top: 0;
    opacity: 0;    
    width: 700px;
    height: 350px;
    display: block;
    position: absolute;
    
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    
    transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
}

#img-inner:nth-of-type(1) {
    /* And... CSS3 image preloading :D */
}

#img-inner:hover ~ label.sb-bignav { opacity: 0.7; }

label.sb-bignav:hover { opacity: 1; }

#contSitio > img{
	border-radius: 10px;
	width: 700px;
	height: 350px;
}
.sb-bignav {
    width: 30px;
    height: 100%;
    display: none;
    position: absolute;
    
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    
    color: black;
    font-size: 40px;
    line-height: 350px;
    text-align: center;

    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

label[title="Next"] { right: 0; }

input:checked + li > #img-inner {
    opacity: 1;   
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

input:checked + li > label { display: block; }

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
  	top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
  	position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}
#contSitio{
	background-color: white;
    border-radius: 10px;
    width: 650px;
    height: 350px;
    text-align: left;
    color:white;
}
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6
{ background: rgba(0, 0, 0, 0.8); }

#social{
	float:right;
	text-align: right;
	padding: 0px;
	margin:0px;
}
#promociones{
	margin-left: 50px;
	float: right;
	width: 700px;
	height: 400px;
}
legend{
    margin-bottom: 10px;
    padding: 12px 0 0 15px;
    border-bottom: 1px solid #D9D9D9;
    letter-spacing: -1px;
    font-size: 24px;
    color: #E42E33;
    width: 180px;
}