/* 
    Document   : nosotros
    Created on : 04-may-2013, 16:10:30
    Author     : giselly_2003
    Description:
        Purpose of the stylesheet follows.
*/

#logoNosotros, #logoContacto{
        width: 320px;
        height:130px;
        margin-left: 110px;
        margin-top: -20px;
        border-radius: 10px;
 
}
#infoNosotros {
    text-align: center;
    margin-left: 0px;
    width: 810px;
    float: left;
    margin-top: 5px;
    background-color: #e9edf3;
    border-radius: 5px;
    font-weight:  bold;
    margin-left: 190px;
    height: 200px;
    margin-top: -70px;

}

#infoContacto{
    text-align: center;
    margin-left: 0px;
    width: 810px;
    float: left;
    margin-top: 5px;
    background-color: #e9edf3;
    border-radius: 5px;
    margin-left: 190px;
    height: 300px;
    margin-top: -70px;  
}

#infoNosotros p, #infoContacto p{
    margin-left: 10px;
    margin-right: 10px;
    
}





