#formulario{
	width: 300px;
	margin:0px;
	padding: 0.5em 0.5em;
	font-size: 14px;
	font-style: normal;
	float: right;
        font-weight: bold;
        
        
      
}
#promo_reg{
	float: left;
	padding: 15px;
}
.columna1{
	margin: 0px 0px 0px 0px;
}
.columna2{
	margin: 0px 0px 0px 0px;
}
.boton_env{
	float:right;
	margin-right: 50px;
	padding: 0px 5px 0px 5px;
	font-size:15px;
    font-weight:bold;
    color:white;
    background:#638cb5;
}
img{
	border-radius:15px 10px 15px 10px;
}
label{
	width:100px;
  	display: inline-block;
}
fieldset{

	padding: 15px 0px 15px 20px;
	border-radius:15px 10px 15px 10px;
}
legend{
	font-size: 18px;
	font-style: normal;
}

.regist{
    width: 300px;
    border: solid 2px #D9D9D9;
    background-color:#e9edf3 ;
    padding: 2.5em 2.5em 2.5em 2.5em;
    margin-left: -100px;
    margin-top: -325px;

   
    
}

input[type="date"] {
    
border-radius: 5px;
margin-bottom: 5px;
color:  #9da1a6;
text-align: center;
}



input[type="text"]{
    
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
    color:  #9da1a6;
}


input[type="email"]{

border-radius: 5px;
margin-bottom: 5px;
text-align: center;
color:  #9da1a6;
text-align: center;
}

select{
    
    margin-bottom: 5px;
    border-radius: 5px;
text-align: center;
color:  #9da1a6;
}

input[type="password"]{
    text-align: center;
   border-radius: 5px;
  margin-bottom: 5px;
color:  #9da1a6;
}

.listaCont .anuncio{
	width: 600px;
	float: left;
       
}
.anuncios{
	width: 400px;
        height: 300px;
	float: left;
	border:1px solid #D9D9D9 ;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
        margin-top: 10px;
        
        
    