body{
/*  font-family: Arial, verdana, sans-serif;*/
  font-family:Helvetica, Arial, sans-serif;
  
    
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../img/background.jpg'); 
  background-size: 100% 100%;
  background-repeat: repeat-y;
  padding: 0px;
}
#header{
	margin: 0px;
	padding:0px;
  height: 140px;
  width: 980px;
}
#contenedor{

 	margin:0px auto 0px auto;
	width: 980px;
	margin-top: 20px;
}
#logo{
  	float: left;
  	position: relative;
  	margin: 0;
        width: 180px;
        height:70px;
        margin-left: -50px;
}
.dropmenu{
        margin-left: 0px;
	width: 810px;
	float: left;
        margin-top: 5px;
/*        background-color: #0066ff;*/
/*        background-color: #4d92f8; azul fuerte*/
         background-color: #e9edf3;
        border-radius: 5px;
        font-weight:  bold;
        
}

.dropmenu ul {
  margin: 0;
  padding: 0;
}
.dropmenu li {
   
  padding-left:10px;
  padding-right:10px; 
	height: 100%;
	width: auto;
	font-size: 14px;
	float: left;
	list-style: none;
	position: relative;  
/*        font-style: italic;*/
}
.dropmenu li:hover {
  border-bottom: solid 2px black;
}
.dropmenu li a:hover{
/*  color: #f22929;*/
color: #fff;
background-color: #e5e9ee;

  
}
.dropmenu li.active{  
  font-style: italic;
/*  border-bottom: solid 2px black;*/
}
.dropmenu li#active{
/*  font-style: italic;*/
/*  border-bottom: solid 2px black;*/
}
.dropmenu li#active > a{
/*  color: #f22929;*/
color: #000;

}
.dropmenu li.active > a{
/*  color: #f22929;*/
color:#9da1a6;


}
.dropmenu li a {
  margin-top: 5px;
  text-decoration: none;
  color: black;
  display: block;
  margin-left: 0px;
  padding: 0.5em 0.5em;
}
.dropmenu li ul {
  border-style: none;
  display: none;
  position: absolute;
  left: 0; 
  top: 100%;
  
  z-index: 999;
   box-shadow: 5px 5px 15px #000000;
}


  

.dropmenu li ul li {
  float: none;
}
.dropmenu li ul li ul {
  left: 100%; 
  top: 0;
}
.dropmenu li:hover > ul {
  background-color: #9da1a6;
/*background-color: #e9edf3;*/
  opacity: 0.65;
  display: block;
  border-radius: 3px;
  
}
.dropmenu li.dir > a:after {
  content: " ";
  color: #fff;
}
.dropmenu:after {
  content: "";
  display: table;
  clear: both;
}
#nombreLogo{
  margin-left: 30px;
  float: left;
}
#carritoventas{
  margin-top:0px;
  float: right;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}
#carritoventas > img{
  float: left;
  margin:10px 0px 0px 10px;
}
#carritoventas > a{
  font-size: 11px;
  color: black;
}
.datos{
  line-height: 10px;
  margin: 10px 0px 8px 50px;
  padding-bottom: 0px;
  text-align: left;
}
#contenido{
  padding: 0;
  width: 960px;
  display: table;
}

/*-------------------------------------------------------*/



#search .input_search{
    
    margin-top: 5px;
    margin-left: 15px;
       
}

#search{
    border-color: #e9edf3;
    
}
    

.input_search {

height: 20px;
    
border-radius: 20px;
/*background-image: url('../img/search.gif');*/
background-position: right;
background-repeat:  no-repeat;
padding-right: 30px;
padding-left: 10px;
color:#9da1a6;
/*background-color: #FFF;*/


}


#img_lupa{
 margin-left: -33px;   
 background-image: url('../img/search.gif');
 background-color: #FFF;
 border-color: #FFF;
 border-radius: 5px;
 width: 25px;
 

    
    
}


.dropmenu .login:hover{ 
   color: #fff;
  background-color: #e5e9ee;
  

 
}

.dropmenu .login{
  margin-top: 5px;
  text-decoration: none;
  color: #4d92f8;
  display: block;
  margin-left: 20px;
  padding: 0.5em 0.5em;

    
}


#list_login{
   
    height: 98px;
    width: 410px;
    margin-left: -100px;
    font-size: 12px;

   
}



#box_login{
    
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
    height: 98px;
    width: 410px;
    
    
}

input[type="password"]{
    border-radius:  5px;
    margin-left: 5px;
    
}

input[type="text"]{
    border-radius: 5px;
  
 
}




#media{
    
    margin-top: 180px;
    margin-left: -350px
    
    
}

#inferior{
    margin-top: 380px;
    margin-left: -350px
    
    
}

#footer{
    height: 150px;
  width: 980px;
  color:  #000;
  border-radius: 5px;
  background:  #9da1a6;
    
}

#copyright{
    text-align: center;
}
