BODY
{
	background: url(images/bg.gif) repeat-x;
	margin-top: -6px !important;
}
H2
{
	color: #9AB8DF !important;
	margin-bottom: 20px !important;
	padding-left: 20px;
}
.justify
{
	text-align: justify;
}
.center
{
	text-align: center !important;
}
.marginTop20
{
	margin-top: 20px !important;
}
.marginTop10
{
	margin-top: 10px !important;
}
.marginRight10
{
	margin-right: 10px !important;
}
.paddingTop10
{
	padding-top: 10px;
}
.paddingBottom40
{
	padding-bottom: 40px;
}
.small
{
	font-size: 7pt;
	margin: 0;
}
.medium
{
	margin: 0;
	font-size: 8pt;
}
.font9
{
	margin: 0;
	font-size: 9pt !important;
}
.font11
{
	margin: 0;
	font-size: 11pt;
}
.negritas
{
	font-weight: bold;
}
.escondido, .hidden
{
	display: none;
}
.nowrap
{
	white-space: nowrap;
}
.right
{
	text-align: right !important;
}
.minimum
{
	width: 1px !important;
}
.line1
{
	line-height: 1;
}
/*CP*/
#contenedor
{
	/*[disabled]margin:20px;*/
}
.inMenu
{
	background-position: center;
	margin: auto;
}
#menuLateral
{
	padding: 10px 0 0;
}
.blackLabel .control-label
{
	font-weight: bold;
}
#form1.form-horizontal .control-group .control-label
{
	/*[disabled]width:180px;*/
	/*[disabled]margin-right:14px;*/
}
.pull-left IMG
{
	width: auto !important;
	max-width: auto !important;
}
#sortable
{
	width: 300px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#sortable LI.btn, .ui-sortable-helper
{
	margin: 0 0 5px;
/*height: 30px;
cursor: move;*/
}
#sortable LI .badge
{
	margin: 0 4px 0 -4px !important;
	cursor: help;
}
#sortable LI DIV
{
	text-align: left;
}
/*Modulo*/
#topOptions
{
	margin-top: 16px;
}
.modulo H2
{
	border-bottom: 2px solid #E9E9E9;
	padding-bottom: 8px;
	margin-bottom: 20px;
}
/*Clientes*/
.nombre
{
	width: 190px;
}
/*Nuevo proyecto*/
#nuevoProyectoTop SELECT
{
	margin: 0;
}
#proyectosPasos
{
	list-style: none;
	text-align: center;
	margin: 0 0 6px;
	padding: 0 0 26px;
	border-bottom: 2px solid #E9E9E9;
	color: #AAAAAA;
	display: block;
	height: 34px;
}
#proyectosPasos LI
{
	/*[disabled]display:inline;*/
	width: 33.3333333%;
	text-align: center;
	margin: 0;
	padding: 0;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
#proyectosPasos A
{
	text-decoration: underline;
}
#proyectoPasoActual
{
	font-weight: bold;
	color: #3A87AD;
}
.fileupload-buttonbar
{
	height: 50px;
	position: relative;
}
.table.table-striped
{
	margin: 0;
}
.size
{
	width: 1px;
	white-space: nowrap;
	text-align: right !important;
	font-weight: normal;
}
TD.start
{
	width: 160px;
	text-align: right !important;
}
TD.delete
{
	width: 79px;
	white-space: nowrap;
	text-align: right !important;
}
.deleteRight
{
	position: absolute;
	right: 9px;
	top: 0;
}
.files .name
{
	width: 200px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	font-weight: bold;
	margin-right: 10px;
}
.files .preview
{
	text-align: center;
	width: 280px;
}
TD.error
{
	text-align: right !important;
}
.fileupload-buttonbar .progress
{
	width: 100% !important;
}
.progressTD
{
	width: 240px;
}
.progress
{
	width: 242px !important;
}
/*Proyecto paso 2*/
#proyectoPaso2Form .span9, #proyectoSumario
{
	margin: 0;
}
.imagenContenedor, #proyectoCupon
{
	border-bottom: 1px solid #DDDDDD;
	padding: 16px 0;
}
#proyectoCupon
{
	background-color: #EEEEEE;
	position: relative;
}
#descuentoCorrecto
{
	/*[disabled]font-weight:bold;*/
	/*[disabled]display:block;*/
	/*[disabled]color:#0B74C0;*/
	/*[disabled]padding:10px 0 12px 12px;*/
	/*[disabled]font-size:11pt;*/
}
.proyectoIrPaso3, #proyectoSumario
{
	padding: 16px 0 0;
	background-color: #BCBCBC;
	text-align: right;
	position: relative;
	height: 40px;
}
.proyectoIrPaso3 BUTTON, #proyectoSumario BUTTON
{
	position: absolute;
	right: 8px;
}
#proyectoImporte
{
	position: absolute;
	left: 10px;
	top: 20px;
	font-weight: bold;
	font-size: 14pt;
	color: #020202;
}
.imagenContenedorEven
{
	background-color: #F4F4F4;
}
.controls
{
	white-space: nowrap;
}
.control-group
{
	margin: 8px 0 !important;
}
.medidas INPUT
{
	width: 78px;
}
.imagenEliminar
{
	margin-top: 8px;
}
#descuento
{
	/*[disabled]position:absolute;*/
	/*[disabled]text-align:right;*/
	/*[disabled]right:10px;*/
	/*[disabled]top:50%;*/
	/*[disabled]border:1px solid #000000;*/
	/*[disabled]height:16px;*/
}
#proyectoSumario
{
	height: inherit;
	/*[disabled]padding:16px;*/
}
#proyectoSumarioInfo
{
	/*+placement:float-left;*/
	float: left;
	padding-bottom: 16px;
}
#proyectoSumarioInfo DIV
{
	width: 300px;
	margin-bottom: 4px;
	display: table;
}
#proyectoSumarioInfo B
{
	width: 160px;
	display: block;
	/*+placement:float-left;*/
	float: left;
}
#proyectoSumarioInfo SPAN
{
	width: 119px;
	display: block;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	text-align: left;
	padding-left: 14px;
}
#acepto
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	margin-left: 10px;
	margin-top: 1px;
}
#aceptoDiv
{
	margin-right: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#aceptoDiv LABEL
{
	font-weight: bold;
}
#cuponExitoso
{
	width: 100%;
	display: table;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 16px;
}
#miSucursalElegida
{
	width: 160px;
}
#miSucursalElegida
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	margin-left: 10px;
	margin-top: -6px;
	margin-right: 8px;
}
#miSucursal LABEL
{
	font-weight: bold;
}
/*Lista de proyectos*/
.proyectoItem.well
{
	padding: 8px;
	margin: 0 0 6px;
}
.proyectoItem.well:hover
{
	background-color: #EAEAEA;
}
.clear
{
	clear: both;
}
.proyectoFolio
{
	font-size: 11pt;
	margin-bottom: 4px;
}
.proyectoCliente
{
	background: url(../images/user.png) no-repeat left center;
	padding-left: 20px;
}
.proyectoImporte
{
	margin-top: 4px;
	font-style: italic;
	margin: 0;
}
.proyectoLeyenda
{
	background: url(../images/calendar.png) no-repeat left center;
	padding-left: 20px;
	color: #848484;
}
#filtroProyectos
{
	border-bottom: 2px solid #E9E9E9;
	padding-bottom: 4px;
	margin-top: -16px;
}
#filtroProyectos LABEL
{
	font-weight: bold;
}
#filtroProyectos #cliente
{
	width: 180px;
}
#filtroProyectos SPAN
{
	display: block;
	margin-bottom: 4px;
}
.fecha
{
	width: 70px;
}
#status
{
	width: 140px;
}
#filtroProyectos #cliente1
{
	margin-right: 14px;
}
#filtroProyectos #fecha2
{
	margin-right: 14px;
}
.hasDatepicker
{
	cursor: pointer !important;
}
.proyectoConcentrado
{
	margin: -12px 0;
	position: relative;
}
.proyectoConcentrado TH
{
	text-align: right;
	padding-right: 10px;
	vertical-align: top;
}
.proyectoConcentrado SMALL
{
	line-height: 1;
	font-size: 8pt;
	color: #9B9B9B;
}
.proyectoDepto
{
	text-align: right;
	border-top: 1px dotted #D1D1D1;
	padding-top: 2px;
	margin-top: 2px;
}
.deptoSelect SELECT
{
	width: 162px;
}
.deptoSelect BUTTON
{
	margin-top: -10px;
}
.deptoSelect
{
}
.acciones
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	line-height: 1;
	margin-top: -16px;
	background: url(../images/action_add.png) no-repeat left center;
	font-size: 8pt;
	padding: 2px 0 2px 16px;
}
.accionesLess
{
	background-image: url(../images/action_remove.png);
}
#paguePaypal
{
	position: absolute;
	top: 16px;
	right: 0;
	font-size: 11px;
	width: 150px;
	line-height: 1;
	text-align: center;
	background: url(../images/paypal.png) no-repeat center top;
	padding-top: 55px;
}
/*Notificaciones*/
#notifier
{
	width: 150px;
	position: absolute;
	z-index: 2;
	opacity: .8;
	top: 4px;
	left: 4px;
}
.notif
{
	margin-bottom: 4px;
	border: 1px solid #CECECE;
	background-color: #E5E5E5;
	padding: 2px;
}
.notif .cerrar
{
	position: absolute;
	right: 4px;
	font-weight: bold;
}
.notifLink
{
}
.notif SPAN
{
	font-weight: bold;
}
/*Acciones*/
.accionesDiv
{
	display: none;
}
.accion
{
	border-top: 1px dotted #A0A0A0;
	padding: 6px 0px;
}
.accionTitulo
{
	font-weight: bold;
}
.accionHora, .accionMinuto
{
	width: 60px;
}
.accionStatus
{
	width: 160px;
}
.accionElminiar
{
	padding-bottom: 0;
}
.accionSucursal
{
	width: 160px;
}
/*Acabados*/
.acabadosContent
{
	width: 516px;
	margin: 0 0 -4px;
}
.acabadoChecksOjillos, .acabadoChecksBolsas
{
	background: url(../images/acabados.png) no-repeat;
	height: 168px;
	/*[disabled]border:1px solid #000000;*/
	margin: auto;
	width: 194px;
	position: relative;
}
.acabadoChecksOjillos INPUT, .acabadoChecksBolsas INPUT
{
	position: absolute;
}
.acabadoChecksOjillos
{
	background-position: center left;
	display: none;
}
.acabadoChecksBolsas
{
	background-position: -290px 0px;
	display: none;
}
.bB
{
	/*+placement:shift 117px 108px;*/
	position: relative;
	left: 117px;
	top: 108px;
}
.bR
{
	/*+placement:shift 166px 58px;*/
	position: relative;
	left: 166px;
	top: 58px;
}
.bL
{
	/*+placement:shift 68px 58px;*/
	position: relative;
	left: 68px;
	top: 58px;
}
.bT
{
	/*+placement:shift 117px 10px;*/
	position: relative;
	left: 117px;
	top: 10px;
}
.oBR
{
	/*+placement:shift 182px 123px;*/
	position: relative;
	left: 182px;
	top: 123px;
}
.oBC
{
	/*+placement:shift 118px 123px;*/
	position: relative;
	left: 118px;
	top: 123px;
}
.oBL
{
	/*+placement:shift 54px 123px;*/
	position: relative;
	left: 54px;
	top: 123px;
}
.oCR
{
	/*+placement:shift 182px 60px;*/
	position: relative;
	left: 182px;
	top: 60px;
}
.oTR
{
	/*+placement:shift 182px -5px;*/
	position: relative;
	left: 182px;
	top: -5px;
}
.oTC
{
	/*+placement:shift 118px -5px;*/
	position: relative;
	left: 118px;
	top: -5px;
}
.oTL
{
	/*+placement:shift 54px -5px;*/
	position: relative;
	left: 54px;
	top: -5px;
}
.oCL
{
	/*+placement:shift 54px 60px;*/
	position: relative;
	left: 54px;
	top: 60px;
}
.menuEncabezado
{
	margin: 20px 0 4px;
}
.floatRight
{
	float: right;
}
.formCheckbox
{
	margin-top: 8px !important;
}
.dataTables_wrapper
{
	padding-left: 20px;
}
.wrap
{
	white-space: normal !important;
}
.tdDescripcion
{
	width: 200px;
}
/*Banners*/
#bannersList
{
	border-top: 1px solid #B5B5B5;
	width: 600px;
}
#bannersList LI
{
	border-bottom: 1px solid #B5B5B5;
	padding: 10px;
	font-size: 9pt;
}
#bannersList LI:hover
{
	background-color: #EAEAEA;
}
