.dataTables_length
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
.dataTables_length SELECT
{
	width: 60px;
	display: inline;
	margin-bottom: 3px;
}
.dataTables_length LABEL
{
	font-weight: bold;
}
.dataTables_filter INPUT
{
	display: inline;
	margin-bottom: 0px;
}
.dataTables_filter LABEL
{
	font-weight: bold;
}
.dataTables_filter
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
}
.dataTables_wrapper
{
	display: inline-block;
	width: 98%;
}
.dataTables_info
{
	font-size: 8pt;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 4px;
}
.dataTables_paginate
{
	/*+placement:float-right 0px 0px;
	float: right;*/
	clear: both;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 28px;
	margin-left: -2px;
}
.dataTables_paginate A
{
	cursor: pointer;
	font-size: 9pt;
	margin: 0 2px;
	padding: 2px 4px;
	/*border: 1px solid #FCA181;
	background-color: #FAB298;*/
	color: #020202;
	text-decoration: none !important;
}
.dataTables_paginate A:hover
{
	/*border: 1px solid #4F3411;
	background-color: #634E32;
	color: #FFFFFF;*/
}
.paginate_active
{
	cursor: default !important;
	/*color: #828282 !important;
	border: 1px solid #E9E9E9 !important;
	background-color: #F4F4F4 !important;*/
}
/*
* Sorting
 */
.sorting, .sorting_asc, .sorting_desc
{
	background: url(../images/sort_both.png) no-repeat center right;
	cursor: pointer;
	display: table-cell;
	padding-right: 16px !important;
}
.sorting:hover, .sorting_asc:hover, .sorting_desc:hover
{
	background-color: #00559D !important;
	color: #FFFFFF;
}
.sorting_asc
{
	background: url(../images/sort_asc.png) no-repeat center right;
}
.sorting_desc
{
	background: url(../images/sort_desc.png) no-repeat center right;
}
.sorting_asc_disabled
{
	background: url(../images/sort_asc_disabled.png) no-repeat center right;
}
.sorting_desc_disabled
{
	background: url(../images/sort_desc_disabled.png) no-repeat center right;
}
.dataTable THEAD TH
{
	background-color: #0088CC !important;
	color: #FFFFFF;
}
.dataTable .btn-group
{
	/*[disabled]margin-right:-5px;*/
	margin-left: 0px;
}
.no100
{
	width: auto !important;
	/*[disabled]+placement:float-left 0px 0px;*/
	clear: both;
}
.no100 TD
{
	/*white-space: nowrap !important;*/
}